body {
    background-color: rgb(220 231 232);
}
article {
    text-align: center;
    font-size: 45px;
}
form {
    background-color: rgb(181 225 239);
    color: rgb(60 78 95);
    border-radius: 15px;
    margin: 0 auto;
    width: 250px;
    border:0px;
    padding:10px;
    
}
input, textarea {
    border: 0;
    width: 240px;
}
.campo {
    background-color: bisque;
  
}

.boton {
    text-align: center;
    width: 60px;
    border-radius: 5px;
}

